<footer class="page-footer indigo darken-2">
        <div class="container">
          <div class="row">
            <div class="col l4 s12">
              <h5 class="white-text">Contact US</h5>
              <h5 class="white-text">Address: Green Fields, Vaddeswaram, Andhra Pradesh 522502</h5>
              <p class="grey-text text-lighten-4 class="custom-font-1""></p>
            </div>

            <div class="col l4 offset-l4 s12">
              <h5 class="white-text">Company</h5>
              <ul  class="custom-font-1">
                <li><a class="grey-text text-lighten-3" href="#!"> Home</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Marketplace</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Terms & Conditions</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Vlogs</a></li>
              </ul>
            </div>
            
              <div class="footer">
                <li>Contact.no: +917372926415         <br> +918698375979</li>
               
                <br>
                <li> KL Email: 2000032111@kluniveristy.in
                           <br> 2000032113@kluniveristy.in
                </li>
                </h2>
                </div>
            
          </div>
        </div>
        <div class="footer-copyright pink lighten-1">
          <div class="container center custom-font-1">
          © 2022 Copyright Text. All Rights Reserved <br>
          Designed by Abhinav and Akash

          </div>
        </div>
      </footer>
          